<h1>Dashboard</h1>
<div class="card">
  <div class="card-head text-info">Lorem ipsum - Dashboard</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt tempore provident dolorum molestiae
    quia similique minima accusantium laboriosam dicta atque ut esse. Maxime voluptas dolore error ut at, ipsa et.
  </div>
</div>

<div class="card">
  <div class="card-head text-info">Lorem ipsum - Dashboard</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, maiores ut ea repellendus qui rerum recusandae
    quia debitis laudantium nam, quae libero magnam atque. Laudantium nesciunt odio ex? Cupiditate, praesentium.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt tempore provident dolorum molestiae
    quia similique minima accusantium laboriosam dicta atque ut esse. Maxime voluptas dolore error ut at, ipsa et.
  </div>
</div>
